<% @page_title = @column.base_title %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <%= link_to events_path, class: "btn btn--back", data: { controller: "hotkey", action: "keydown.left@document->hotkey#click" } do %>
      <span class="overflow-ellipsis flex align-center">
        <%= icon_tag "arrow-left" %>
        <strong>Back to Actvity</strong>
        <kbd class="txt-x-small margin-inline-start hide-on-touch">&larr;</kbd>
      </span>
    <% end %>
  </div>

  <h1 class="header__title">
    <%= @column.title %>
  </h1>
<% end %>

<%= render "events/day_timeline/columns/events", column: @column %>